/*
>Main Types (with unique Modifiers):
    - "Block" : A section of the page. Covers 100% of the screens width. Use "BlockContent" for content within a block
        - "Fullscreen" : Sets the block height to match the screens height. Respected by mobile 
        - "Halfscreen" : Sets the block height to match half the screens height. Disregarded on mobile 
        > JDColours : Changes background colour to brand colours

    - "BlockContent" : Content sections within Block. The content fills 80% of the screens width
        - "SplitTwo" : Splits content into two halfs. Vertical on mobile
            - "Right" : Exaggerat the right content
            - "Left" : Exaggerat the Left content
        - "SplitFour" : Splits content into four horizontal section. Vertical on mobile
            - "InnerSpace" : Spaces the items vertically inside each section
        - "SplitGallery" : Splits content into a stylised gallery. Used currently for "News" section
        
    - "BrandFont" : Text Styling. Can be used on parent <p>/<h1> etc or <span class="BrandFont Centre"> for text within a BrandFont tag
        - "Centre" : Aligns text to the centre
        - "Bold" : Makes text bold
        > JDColours : Changes text colour to brand colours
        - "Narrow" : Narrows and linebreaks text relative to the screen
        - "RelativeNarrow" : Narrows and linebreaks text relative to the parent
        > PadDirections : Adds padding to text. Useful for titles

    - "Button" : Turn an <a> into a button or styles an Input button
        - "Bold" : Makes text bold
        - "Centre" : Aligns button to the centre
        > JDColours : Changes text colour to brand colours


>JDColours:
    - "JDRed"
    - "JDBlue"
    - "JDTeal"
    - "JDOrange"
    - "JDGreen"
    - "JDYellow"
    - "JDPink"
    - "JDClear"

>PadDirections:
    - "PadTop"
    - "PadRight"
    - "PadBottom"
    - "PadLeft"
    - "PadSides"
*/

:root
{
    --JDBlue: 31, 68, 101;
    --JDRed: 228, 0, 58;
    --JDTeal: 102, 193, 191;
    --JDOrange: 243, 146, 0;
    --JDGreen: 200, 212, 0;
    --JDYellow: 255, 237, 0;
    --JDPink: 237, 110, 167;
    --JDLightBlue: 0, 117, 181;
}
body
{
    font-family: 'Poppins', sans-serif;
    font-size: 2vh;
    padding: 0;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Page */
    /* Block Styling - Desktop */
        .Block
        {
            overflow: hidden;
            position: relative;
            width: 100%;
            padding: 8vh 0;
        }
            .Block.Fullscreen
            {
                height: 100vh;
                padding:0;
            }
                .Block.Fullscreen.Head /* For first fullscreen block to account for the banner*/
                {
                    padding-top: 10vh;
                    height: 90vh;
                }
            .Block.Halfscreen
            {
                height: 50vh;
                padding: 0;
            }
    /* Block Styling - Mobile */
    @media (max-width: 1099px) 
    {
        .Block
        {
            overflow: hidden;
            position: relative;
            padding: 8vh 0;
        }
            .Block.Fullscreen
            {
                width: 100%;
                height: 100vh;
                padding: 0;
            }
                .Block.Fullscreen.Head
                {
                    padding-top: 10vh;
                    height: 90vh;
                }
            
            .Block.Halfscreen
            {
                height: unset;
                padding: 8vh 0;
            }
    }

    /* Block Colour Setters */
        .Block.JDBlue
        {
            background-color: rgb(var(--JDBlue));
            color: white;
        }
        .Block.JDRed
        {
            background-color: rgb(var(--JDRed));
            color: white;
        }
        .Block.JDTeal
        {
            background-color: rgb(var(--JDTeal));
            color: white;
        }
        .Block.JDOrange
        {
            background-color: rgb(var(--JDOrange));
            color: black;
        }
        .Block.JDGreen
        {
            background-color: rgb(var(--JDGreen));
            color: black;
        }
        .Block.JDYellow
        {
            background-color: rgb(var(--JDYellow));
            color: black;
        }
        .Block.JDPink
        {
            background-color: rgb(var(--JDPink));
            color: white;
        }


/* Content */
    /* Block basics*/
        .BlockContent
        {
            width: 80vw;
            margin: 0 auto;
            height: 100%;
            padding: 0;
        }
        /* Right-heavy Content Grid - "SplitRight"*/
            .BlockContent.SplitTwo 
            {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 2vw;
                grid-row-gap: 0vh;
            }
                .BlockContent.SplitTwo.Right
                {
                    grid-template-columns: 0.75fr 1.25fr;
                }
                .BlockContent.SplitTwo.Left
                {
                    grid-template-columns: 1.25fr  0.75fr;
                }
                @media (max-width: 1099px)
                {
                    .BlockContent.SplitTwo 
                    {
                        grid-row-gap: 1vh;
                    }
                        .BlockContent.SplitTwo.Right,
                        .BlockContent.SplitTwo.Left
                        {
                            grid-template-columns: 1fr;
                        }
                }

        /* Fourway split - "SplitFour"*/
            .BlockContent.SplitFour 
            {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                height: auto;
            }
                .BlockContent.SplitFour > div
                {
                    margin: 0 auto;
                }
                    .BlockContent.SplitFour.InnerSpace > div
                    {
                        display: grid; 
                        grid-auto-rows: 1fr;
                        gap: 3vh 0vh; 

                        align-items: center;
                        justify-items: center;
                    }

                @media (max-width: 1099px)
                {
                    .BlockContent.SplitFour 
                    {
                        grid-template-columns: 1fr;
                        grid-template-rows: repeat(4, 1fr);;
                        grid-row-gap: 6vh;
                    }
                        .BlockContent.SplitFour.InnerSpace > div 
                        {
                            gap: 0vh; 

                            align-items: center;
                            justify-items: center;
                        }
                }

        /* Gallery styled split - "SplitGallery" */
            .BlockContent.SplitGallery 
            {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 1vh;
                grid-row-gap: 1vh;

                grid-template-areas: 
                "Area1 Area2 Area4 Area4"
                "Area1 Area3 Area4 Area4"; 

                height: 60vh;
            }
                .BlockContent.SplitGallery > div
                {
                    background-size: cover !important;
                    background-position: center !important;
                    display: flex;

                    overflow: hidden;
                }
                    .BlockContent.SplitGallery > div:nth-child(1)
                    {
                        grid-area: Area1;
                    }
                    .BlockContent.SplitGallery > div:nth-child(2)
                    {
                        grid-area: Area2;
                    }
                    .BlockContent.SplitGallery > div:nth-child(3)
                    {
                        grid-area: Area3;
                    }
                    .BlockContent.SplitGallery > div:nth-child(4) 
                    {
                        grid-area: Area4;
                    }
                    @media (max-width: 1099px)
                    {
                        .BlockContent.SplitGallery 
                        {
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: repeat(4, 1fr);

                            grid-template-areas: 
                            "Area1 Area2"
                            "Area1 Area3"
                            "Area4 Area4"
                            "Area4 Area4"; 

                            height: auto;
                        }
                    }
                    


/* Text */
    /* Fonts Styling */
        .BrandFont
        {
            font-weight: 200;
        }
            .BrandFont.Centre
            {
                text-align: center;
            }
            .BrandFont.Bold
            {
                font-weight: 600;
            }
            .BrandFont.Narrow
            {
                width: 50vh;
            }
            .BrandFont.RelativeNarrow
            {
                width: 65%;
            }
                .BrandFont.PadTop
                {
                    padding-Top: 5vh;
                }
                .BrandFont.PadRight,
                .BrandFont.PadSides
                {
                    padding-Right: 5vh;
                }
                .BrandFont.PadBottom
                {
                    padding-bottom: 5vh;
                }
                .BrandFont.PadLeft,
                .BrandFont.PadSides
                {
                    padding-Left: 5vh;
                }

    /* Font Colour Setters */
        .BrandFont.JDRed
        {
            color: rgb(var(--JDRed));
        }
        .BrandFont.JDBlue
        {
            color: rgb(var(--JDBlue));
        }
        .BrandFont.JDTeal
        {
            color: rgb(var(--JDTeal));
        }
        .BrandFont.JDOrange
        {
            color: rgb(var(--JDOrange));
        }
        .BrandFont.JDGreen
        {
            color: rgb(var(--JDGreen));
        }
        .BrandFont.JDYellow
        {
            color: rgb(var(--JDYellow));
        }
        .BrandFont.JDPink
        {
            color: rgb(var(--JDPink));
        }



/* Button */
    /* Button Styling */
        .Button
        {
            display: block;
            position: relative;
            z-index: 999;

            min-width: 20vh;
            min-height: 4vh;
            padding: 0.85vh 1vh 0 1vh;

            background: black;
            color: white;
            
            text-align: center;
            text-decoration: none;

            transition: transform 0.4s;
        }
            input.Button, /*Is a REAL button*/
            button.Button
            {
                font-family: 'Poppins', sans-serif;
                font-size: 2vh;
                font-weight: 500;

                padding: 1vh;
                border: none;
                cursor: pointer;
            }
                input.Button.Centre,
                button.Button.Centre
                {
                    margin: auto;
                }
            .Button.Bold
            {
                font-weight: 600;
            }
            .Button.Centre
            {
                text-align: center;
            }
        .Button:hover
        {
            transform: scale(1.1);
        }   

/* Font Colour Setters */
    .Button.JDRed
    {
        background: rgb(var(--JDRed));
    }
    .Button.JDBlue
    {
        background: rgb(var(--JDBlue));
    }
    .Button.JDClear
    {
        background: transparent;
    }



/* EXTRAS */
    /* Vertically aligns a group of content inside a block */
    .Middle
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
