:root
{
    --introAnimSpeed: 3s;
}

/* Parent of the whole thing */
    #AnimationMaster
    {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* Items that appear like the title. Background must match the Blocks background */
    #mainItems 
    {   
        background: rgb(var(--JDBlue));     

        position: absolute;
        margin: auto;

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        clip-path: circle(0%);
        animation: ease-in-out 2s calc(var(--introAnimSpeed) - 0.2s) RingReveal forwards;
    }

/* Ring that appears  */
    #RingMaster
    {
        position: absolute;
        background: rgb(var(--JDRed));
        height: 100%; 
        width: 100%;

        clip-path: circle(0%);
        animation: ease-in-out 2s calc(var(--introAnimSpeed) - 0.4s) RingReveal forwards;
    }

/* Dots */
    .DotHolder
    {
        position: absolute;
        display: flex;
    
        width: 10vh;
        height: 10vh;

        animation: ease-in-out calc(var(--introAnimSpeed) * 2) DotHolderAnim forwards;
    }
        #Dot1Main,
        #Dot2Main,
        #Dot3Main,
        #Dot4Main
        {
            margin: auto;
            position: relative;
        
            width: 2vh;
            height: 2vh;
            border-radius: 50%;
        }
            #Dot1Main
            {
                background-color: rgb(var(--JDOrange));
                animation: ease-in-out var(--introAnimSpeed) Dot1Anim forwards;
            }
            #Dot2Main
            {
                background-color: rgb(var(--JDTeal));
                animation: ease-in-out var(--introAnimSpeed) Dot2Anim forwards;
            }
            #Dot3Main
            {
                background-color: rgb(var(--JDLightBlue));
                animation: ease-in-out var(--introAnimSpeed) Dot3Anim forwards;
            }
            #Dot4Main
            {
                animation: ease-in-out var(--introAnimSpeed) Dot4Anim forwards;
                background-color: rgb(var(--JDRed));
            }

/* Extra classes for items within main content */
    .LateFade
    {
        opacity: 0;
        animation: ease-in-out 1s calc(var(--introAnimSpeed) + 1s) FadeIn forwards;
    }
   
    
/* Animations */
    /* Parent of dots to spin them around */
    @keyframes DotHolderAnim
    {
        0% 
        {
            transform: rotate(0deg);
        }
        45% 
        {
            transform: rotate(360deg) scale(1);
            opacity: 1;
        }
        50% 
        {
            transform: rotate(0deg) scale(0);
            opacity: 0;
        }
        100% 
        {
            transform: scale(0);
        }
    }

    /* Dot1 */
    @keyframes Dot1Anim
    {
        0% 
        {
            left: 0px;
        }
        18%
        {
            height: 2vh;
        }
        50% 
        {
            left: -10vh;
        }
        60%
        {
            height: 3vh;
        }
        80%
        {
            height: 2vh;
        }
        100% 
        {
            left: 0px;
            height: 2vh;
        }
    }

    /* Dot 2 */
    @keyframes Dot2Anim
    {
        0% 
        {
            top: 0px;
        }
        18%
        {
            width: 2vh;
        }
        50% 
        {
            top: -10vh;
        }
        60%
        {
            width: 3vh;
        }
        80%
        {
            width: 2vh;
        }
        100% 
        {
            top: 0px;
            width: 2vh;
        }
    }

    /* Dot 3 */
    @keyframes Dot3Anim
    {
        0% 
        {
            right: 0;
        }
        18%
        {
            height: 2vh;
        }
        50% 
        {
            right: -10vh;
        }
        60%
        {
            height: 3vh;
        }
        80%
        {
            height: 2vh;
        }
        100% 
        {
            right: 0;
            height: 2vh;
        }
    }

    /* Dot 4 */
    @keyframes Dot4Anim
    {
        0% 
        {
            bottom: 0;
        }
        18%
        {
            width: 2vh;
        }
        50% 
        {
            bottom: -10vh;
        }
        60%
        {
            width: 3vh;
        }
        80%
        {
            width: 2vh;
        }
        100% 
        {
            bottom: 0;
            width: 2vh;
        }
    }    

    /* Reveal the content AND the expanding ring effect */
    @keyframes RingReveal
    {
        0% 
        {
            clip-path: circle(0%);
        }
        100% 
        {
            clip-path: circle(100vw);
        }
    }

    /* Fade in the button */
    @keyframes FadeIn
    {
        0% 
        {
            opacity: 0;
            transform: translateY(3vh);
        }
        100% 
        {
            opacity: 1;
            transform: translateY(0vh);
        }
    }