/* GENERAL TESTING : */
    /* Circle Bubble for image - NOT IN USE */
        .Bubble
        {
            background-size: cover !important;
            background-position: center !important;

            background-color: rgb(238, 238, 238);

            height: 20vh;
            width: 20vh;
            border-radius: 50%;
        }


/* Will become a navibar dropdown menu */
/*  - This will use javascript to open and close. On scroll down, the menu will hide along with the nav bar. 
    - CSS Animation for open and close would be ideal. Height will a set value to fit the items as Fit-content cant be animated.
    - The mobile menu will slide in from the right and push the main menu off screen. There will need to be a back button for mobile only.
    - Attempt to make it flexible and reusable. This will need changing to a class selector if it can. Fret not if it cant
*/
.NavDropItems
{
    position: absolute;
    background: white;
    
    top: 10vh;

    width: 30vh;
    height: 0;

    overflow: hidden;
    border: solid rgba(var(--JDBlue), 0.2);
    border-width: 0;
    
    transition: height 0.4s, border-width 0.4s;
}
    .NavDropItems.Open
    {
        border-width: 0 0.1vh 0.1vh 0.1vh;
        height: 50vh;
    }
        .NavDropItems > .NavItem
        {
            height: 10vh !important;
            width: 100% !important;
        }
        .NavBack
        {
            display: none;
        }

@media (max-width: 1099px) 
{
    .NavDropItems
    {
        background: rgb(240, 240, 240);

        top: 0;
        right: 0;

        width: 0;
        height: 100%;

        border: none;
        transition: width 1s;
    }
        .NavDropItems.Open
        {
            width: 100%;
            height: 100%;
        }
            .NavDropItems > .NavItem
            {
                height: 15vh !important;
            }
    .NavBack
    {
        color: rgb(var(--JDRed));
        font-weight: bold;
        font-size: 5vh;

        position: absolute;
        display: block;
        padding: 5vh;
        cursor: pointer;
    }
}




    /* "Trusted by" Carousel */
        .Carousel
        {
            width: 100%;
            overflow-x: hidden;

            display: flex;
            
        }
            .CarouselMask
            {
                position: absolute;
                margin: auto;
                width: 80vw;
                height: 20vh;
                z-index: 10;
                background: linear-gradient(to right, white 0% , transparent 10%, transparent 90%, white 100%);
            }
            .Carousel > div
            {
                min-width: 80vw;
                display: flex;
                justify-content: space-around;

                animation: 20s scrollingImg linear infinite;
            }
                .Carousel > div > div
                {
                    /* For the logos */
                    width: 10vw;
                }
                    @keyframes scrollingImg
                    {
                        0% 
                        {
                            transform: translateX(0vw);
                        }
                        100% 
                        {
                            transform: translateX(-80vw);
                        }
                    }


/* FOR BLOCKSYSTEM.CSS : */

    /* Add an empty div to mask over a background image inside other div */
        .BackgroundMask 
        {
            background: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            padding: 0 2vh;
        }
            .BackgroundMask.JDBlue
            {
                background: rgba(var(--JDBlue), 0.62);
                color: white;
            }
            .BackgroundMask.JDRed
            {
                background: rgba(var(--JDRed), 0.62);
                color: white;
            }
        @media (max-width: 1099px) 
        {
            .BackgroundMask 
            {
                padding: 0;
            }
        }

