/* GENERAL TESTING : */
    /* Circle Bubble for image */
        .Bubble
        {
            background-size: cover !important;
            background-position: center !important;

            background-color: rgb(238, 238, 238);

            height: 20vh;
            width: 20vh;
            border-radius: 50%;
        }

    /* "Trusted by" Carousel */
        .Carousel
        {
            width: 100%;
            overflow-x: hidden;

            display: flex;
            
        }
            .CarouselMask
            {
                position: absolute;
                margin: auto;
                width: 80vw;
                height: 20vh;
                z-index: 10;
                background: linear-gradient(to right, white 0% , transparent 10%, transparent 90%, white 100%);
            }
            .Carousel > div
            {
                min-width: 80vw;
                display: flex;
                justify-content: space-around;

                animation: 20s scrollingImg linear infinite;
            }
                .Carousel > div > div
                {
                    /* For the logos */
                    width: 10vw;
                }
                    @keyframes scrollingImg
                    {
                        0% 
                        {
                            transform: translateX(0vw);
                        }
                        100% 
                        {
                            transform: translateX(-80vw);
                        }
                    }


/* FOR BLOCKSYSTEM.CSS : */

    /* Add an empty div to mask over a background image inside other div */
        .BackgroundMask 
        {
            background: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            padding: 0 2vh;
        }
            .BackgroundMask.JDBlue
            {
                background: rgba(var(--JDBlue), 0.5);
                color: white;
            }
            .BackgroundMask.JDRed
            {
                background: rgba(var(--JDRed), 0.5);
                color: white;
            }
        @media (max-width: 1099px) 
        {
            .BackgroundMask 
            {
                padding: 0;
            }
        }

